/* NAV BAR */
.navbar-right img {
	margin-top: 5px;
	width: 40px; 
	height: 40px;
	border-radius: 20%;
}


/* USER LOGIN or SIGNUP */
body {
	font-family: "Raleway";
}
h1 {
	padding: 10px 5px;
}
.outer-user {
	margin-top: 100px;
}
.outer-game {
	margin-top: 100px;
}
.form-row {
	margin-top: 10px;
}
.form-control:focus {
	outline: none;
    border-color: #ffa31a;
    box-shadow: 0 0 10px #ffa31a;
}
#submit-button {
	background-color: #ffa31a;
	border: none;
}
#submit-button:hover {
	background-color: #ff9900;
}

/* NEWGAME PAGE */
.new-game {
	margin-top: 100px;
}
#title {
	padding: 5px 0px;
}
.new-game select {
	height: 40px;
	width: 100%;
    background: white;
    color:black;
}
.new-game select:focus {
	outline: none;
    border-color: #ffa31a;
    box-shadow: 0 0 10px #ffa31a;
}

/* NEW NOTES */
.new-notes {
	margin-top: 20px;
}
